* {
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  place-content: center;
  height: 100vh;
}
h1{

  margin: auto;
}
p{
  margin: auto;
}
a{
  padding: 10px 20px;
  border: 1px solid black;
  margin: 20px;
}

.show{
  border: none;
}